save = "true"
save-exact = "true"
#registry = https://nexus.sharedservices.aws.wellmark.com/repository/npm-group/
registry = http://wmnexusec2.topcoder-dev.com/repository/npm-group/
scripts-prepend-node-path=true
